@if(visible()) {
  <div class="power-confirm" @fadeIn @fadeOut>
    <span class="power-confirm__title">Power Room Off?</span>
    <div class="power-confirm__buttons">
      <div class="power-confirm__buttons-group">
        <button
          class="power-confirm__button power-confirm__button--green"
          (click)="Yes()"
        >
          Yes
        </button>
        <button
          class="power-confirm__button power-confirm__button--red"
          (click)="No()"
        >
          No
        </button>
      </div>
      <button
        class="power-confirm__button power-confirm__button--blue"
        (click)="AllOff()"
      >
        Wholehouse Off
      </button>
    </div>
  </div>
  }
