@import 'buttons';
@import 'mixins';

.volume {
  @include display-flex-row;  
  gap: 1rem;
  align-items: center;
  border-radius: 1rem;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.2);

  &__buttons {
    @include display-flex-row;
    gap: 0.8rem;
  }

  &__button {
    @extend .crestron-button;
    width: 7.25rem;
    height: 4.5rem;

    &.selected {
      background-color: rgb(230, 0, 0); // Hold button color on mute state.
    }
  }

  &__gauge {
    @include display-flex-row;
    border-radius: 0.3rem;
    overflow: hidden;
    background-color: grey;
    height: 1.75rem;
    position: relative;
    flex: 2;
    align-items: flex-start;
    justify-content: flex-start;
    mix-blend-mode: screen;
  
    &--indicator {
      align-items: flex-start;
      display: flex;
      height: 100%;
      width: 30%;
      background: white;
      transition: width 0.2s ease-in-out;
    }
  
    &--segments {
      @include display-flex-row;  
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: absolute;
      height: 100%;
      width: 100%;
  
      li {
        display: grid;
        list-style: none;
        border-right: 0.2rem solid black; // Gap between segments
        flex-grow: 1;
      }
  
      li:last-child {
        border-right: 0;
      }
    }
  }
}  
