<div class="transport">
    <div class="row1">
        <button (click)="press('Back')">Back</button>
        <button (click)="press('Play')">
            <img src="assets/images/icons/transport/play.svg" />    
        </button>
        <button (click)="press('Pause')">
            <img src="assets/images/icons/transport/pause.svg" />
        </button>
        <button (click)="press('Menu')">Menu</button>
    </div>
    <div class="row2">
        <button (click)="press('TrackBack')">
            <img src="assets/images/icons/transport/trackBack.svg" />
        </button>
        <button (click)="press('Rewind')">
            <img src="assets/images/icons/transport/rew.svg" />
        </button>
        <button (click)="press('FastForward')">
            <img src="assets/images/icons/transport/ffw.svg" />
        </button>
        <button (click)="press('TrackForward')">
            <img src="assets/images/icons/transport/trackForward.svg" />
        </button>
    </div>
</div>
