<div class="page" @pageIn>
  <app-power-confirm />

  <div class="content">
    <app-source-list [sources]="Sources" />

    <div class="control-container">
      <span class="source-title"
      data-ch5-textcontent="MainPage.CurrentSourceText"
      ></span>
      <!-- Switch/Case logic to display source pop-up, Order determined by enum in .ts file.
      @default has been modified to show no page at all.
      Figure out a way to make this dynamic based on current room -->
      <div class="source-content">
        
        @switch(source())
        {
          @case(Source.None){}

          @case(Source.AirMedia){<app-airmedia /> }

          @case(Source.AppleTV){<app-apple-tv /> }

          @case(Source.NvxInfo){<app-nvx-info /> }
          
          @case(Source.Stb){<app-stb /> }
          
          @default {}  
        }
      </div>
    </div>
  </div>
  <div>
    <app-volume-footer />
  </div>
</div>
