<nav class="o-pad">
  <button class="o-pad__button o-pad__button--up" (click)="press('Up')">
    <img src="assets/images/icons/navigation/up.svg" />
  </button>

  <button class="o-pad__button o-pad__button--right" (click)="press('Right')">
    <img src="assets/images/icons/navigation/right.svg" />
  </button>

  <button class="o-pad__button o-pad__button--left" (click)="press('Left')">
    <img src="assets/images/icons/navigation/left.svg" />
  </button>

  <button class=" o-pad__button o-pad__button--down" (click)="press('Down')">
    <img src="assets/images/icons/navigation/down.svg" />
  </button>

  <button class="o-pad__button o-pad__button--centre" (click)="press('Enter')">OK</button>
</nav>