<div class="page" @pageIn>
    <!-- <app-title-bar /> -->
 
    <div class="home-page">
        <button class="home-page__button" (click)="press('Main')">
            <img
                class="home-page__button__icon"
                src="assets/images/icons/media.svg"
            />
            House Media
        </button>
        <button class="home-page__button" (click)="press('Lighting')">
            <img
                class="home-page__button__icon"
                src="assets/images/icons/lighting.svg"
            />
            Lighting
        </button>
        <button class="home-page__button" (click)="press('Shades')">
            <img
                class="home-page__button__icon"
                src="assets/images/icons/shade.svg"
            />
            Shades
        </button>
        <button class="home-page__button" (click)="press('Security')">
            <img
                class="home-page__button__icon"
                src="assets/images/icons/security-armed.svg"
            />
            Security
        </button>
        <button class="home-page__button" (click)="press('Cameras')">
            <img
                class="home-page__button__icon"
                src="assets/images/icons/camera.svg"
            />
            Cameras
        </button>
    </div>

</div>
