@import 'mixins';

.hamburger {
    // align-items: left;
    // justify-content: flex-start;
    // padding: 0.5rem;
    // width: 100%;
  
    &__button--menu {
      @include clear-button-styling;
      height: 4.5rem;
      width: 4.5rem;
      padding: 0.5rem;
  
      &__icon {
        height: 100%;
        width: 100%;
      }
  
      &:active {
        opacity: 0.8;
      }
    }
}          